{{page-title "Myapp"}}
<h2 id="title">Welcome to Our App</h2>
{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

{{outlet}}